/ Navbar
%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  / Left navbar links
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", :href => "#", :role => "button"}
        %i.fas.fa-bars
  %ul.navbar-nav.ml-auto
/ /.navbar