/ Main Sidebar Container
%aside.main-sidebar.sidebar-dark-secondary.elevation-4
  / Brand Logo
  %a.brand-link{:href => "index3.html"}
    %span.brand-text.font-weight-light
  / Sidebar
  .sidebar
    
    / Sidebar Menu
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
        /
          Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library
        %li.nav-item.has-treeview.menu-open
          %a.nav-link.active{:href => "#"}
            %i.nav-icon.fas.fa-tachometer-alt
            %p
              DASHBOARD
        %li.nav-item
          %a.nav-link{:href => "#"}
            %i.nav-icon.fas.fa-desktop
            %p
              KOINS CONCERN
        %li.nav-item
          %a.nav-link{:href => "#"}
            %i.nav-icon.fas.fa-mobile
            %p
              MY KOINS CONCERN
        %li.nav-item
          %a.nav-link{:href => "#"}
            %i.nav-icon.fas.fa-cog
            %p
              HARDWARE CONCERN
        %li.nav-item
          %a.nav-link{:href => "#"}
            %i.nav-icon.fas.fa-user
            %p
              HR CONCERN
        
          /
            <ul class="nav nav-treeview">
            <li class="nav-item">
            <a href="#" class="nav-link active">
            <i class="far fa-circle nav-icon"></i>
            <p>Active Page</p>
            </a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Inactive Page</p>
            </a>
            </li>
            </ul>
    / /.sidebar-menu
  / /.sidebar