!!!
%html
  %head
    %title TICKETING SYSTEM
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.hold-transition.sidebar-mini.layout-fixed{"data-scrollbar-auto-hide" => "n"}
    %p.notice= notice
    %p.alert= alert
    .wrapper
      = render "shared/header"
      = render "shared/sidebar"
      .content-wrapper
        .content-header
          .container-fluid
            .row.mb-2
              / /.col
              / /.col
            / /.row
          / /.container-fluid
        .content.container-fluid
          .container-fluid
            
            = yield
      = render "shared/footer"
      = render "shared/control_sidebar"
      %div